.size-box {
    height: 350px;
    width: 100%;
    background: #85cdd8;
}

.size-img {
    height: 100%;
    width: 100%;
}

@media (max-width: 1100px) {
    .size-box {
        height: 220px;
        background: #85cdd8;
    }
}

.sombra {
    /*background-color: black; opacity: 1.1;*/
    /*background: #000;*/
    filter: brightness(0.7);
}
/*Estilo para sobreponer el numero de notificaciones*/
.info-number .badge {
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    padding: 2px 6px;
    position: absolute;
    right: 2px;
    top: 8px;
}
.pasarMouse:hover {
    background: #c8cacf;
}
.fileRadius {
    border-radius: 5px;
}
